<div class="container-fluid" id="page10">
  <!-- Footer -->
  <footer class="page-footer font-small indigo" id="pageEnd">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#work">Mentions légales</a>
            </li>
            <li>
              <a href="#work">FAQ</a>
            </li>
            <li>
              <a href="#work">A propos</a>
            </li>
            <li>
              <a href="#work">CGU</a>
            </li>
            <li>
              <a href="#work">Politique de confidentialité</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Prestations</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#page6">Gestion de projet</a>
            </li>
            <li>
              <a href="#page4">Web design</a>
            </li>
            <li>
              <a href="#page4">Web marketing</a>
            </li>
            <li>
              <a href="#page6">Référencement naturel</a>
            </li>
            <li>
              <a href="#page4">Développement Web</a>
            </li>
            <li>
              <a href="#page6">Identité visuel</a>
            </li>
            <li>
              <a href="#page6">Création projet</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Services</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#page6">Refonte de site</a>
            </li>
            <li>
              <a href="#page6">Création avec CMS</a>
            </li>
            <li>
              <a href="#page6">Site e-commerce</a>
            </li>
            <li>
              <a href="#page6">Site vitrine</a>
            </li>
            <li>
              <a href="#!">Responsive design</a>
            </li>
            <li>
              <a href="#!">Paiement en ligne</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Le site</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#page6">Projets</a>
            </li>
            <li>
              <a href="#page4">Recrutement</a>
            </li>
            <li>
              <a href="#" routerLink="contact/create">Contact</a>
            </li>
            <li>
              <a href="#" routerLink="connexion">Connexion</a>
            </li>
            <li>
              <a href="#" routerLink="member/create">Inscription</a>
            </li>
            <li>
              <a href="#work">Responsive design</a>
            </li>
            <li>
              <a href="#work">Paiement en ligne</a>
            </li>

          </ul>

        </div>


      </div>


    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://tetsuo-project.firebaseapp.com/">Tetsuo-project</a>
    </div>
  </footer>
</div>
