<div class="container-fluid" id="admin">
  <div id="page-wrapper">
    <div id="wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav col-xl-12">
          <div class="row">
            <div class="col-lg-8 d-flex justify-content-around">
              <h2>{{ username }} DASHBOARD</h2>
            </div>
            <!-- <a href="/admin" class="nav-link" routerLink="admin">
              <p>Admin Board</p>
            </a> -->
            <div class="col-3 col-md-2">
              <button class="btn btn-secondary" [routerLink]="['/']">
                <img src="../../assets/img/cross.png" alt="" srcset="../../assets/img/cross.png 1x">
              </button>
            </div>
            <div class="col-3 col-md-2">
              <button class="btn btn-secondary" [routerLink]="['/admin']">
                <p>Return</p>
              </button>
            </div>


          </div>
        </div>
      </div>
      <div id="page-inner">
        <div class="row">
          <div class="col-10 offset-1 d-flex justify-content-between" *ngFor=" let user of users; let i=index">
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.username }}</h3>
            <div>
              <!-- <a class="btn btn-danger" (click)="deletePost(post._id,i)">Delete</a><a [routerLink]="['/post', post._id]" class="btn btn-primary">Edit</a> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
