<div class="container-fluid" id="page4">
  <h2>&lt; h2 &gt; Recrutement &lt; /h2 &gt;</h2>
  <div class="row main_container">
    <div class="col-3 col-md-3 aside " id="left_side">
      <div class="row justify-content-end">
        <h3>Community manager</h3>
      </div>
    </div>
    <div class="col-9 col-md-9 aside " id="right_side">
      <p> &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consectetur fugiat, dicta quis expedita repellendus enim ex saepe sunt ea eos illum adipisci
        suscipit
        quas
        nobis reprehenderit et eius quibusdam! Iure quam quisquam vitae praesentium inventore! Facilis consequuntur corrupti id obcaecati optio, aperiam blanditiis adipisci nemo! Neque laborum
        asperiores ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, odit. &lt;/p&gt;</p>
    </div>
  </div>
  <div class="row main_container">
    <div class="col-3 col-md-3 aside" id="left_side">
      <div class="row justify-content-end">
        <h3>Webmaster</h3>
      </div>
    </div>
    <div class="col-9 col-md-9 aside " id="right_side">
      <p> &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consectetur fugiat, dicta quis expedita repellendus enim ex saepe sunt ea eos illum adipisci
        suscipit
        quas
        nobis reprehenderit et eius quibusdam! Iure quam quisquam vitae praesentium inventore! Facilis consequuntur corrupti id obcaecati optio, aperiam blanditiis adipisci nemo! Neque laborum
        asperiores ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam quae deserunt cupiditate praesentium voluptates, quia, amet aut qui maxime quo excepturi natus!
        Repellendus pariatur nihil asperiores perspiciatis modi quod neque voluptas, quos rem porro. Beatae quidem, labore odio ut, amet, provident qui est ea quisquam nihil iusto quia culpa.
        &lt;/p&gt;</p>
    </div>
  </div>
  <div class="row main_container">
    <div class="col-3 col-md-3 aside " id="left_side">
      <div class="row justify-content-end">
        <h3>Developpeur fullstack</h3>
      </div>
    </div>
    <div class="col-9 col-md-9 aside " id="right_side">
      <p> &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consectetur fugiat, dicta quis expedita repellendus enim ex saepe sunt ea eos illum adipisci
        suscipit
        quas
        nobis reprehenderit et eius quibusdam! Iure quam quisquam vitae praesentium inventore! Facilis consequuntur corrupti id obcaecati optio, aperiam blanditiis adipisci nemo! Neque laborum
        asperiores ipsam?&lt;/p&gt;</p>
    </div>
  </div>
  <div class="row main_container">
    <div class="col-2 col-md-3 aside " id="left_side">
      <div class="row justify-content-end">
        <h3>Web designer</h3>
      </div>
    </div>
    <div class="col-10 col-md-9 aside " id="right_side">
      <p> &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consectetur fugiat, dicta quis expedita repellendus enim ex saepe sunt ea eos illum adipisci
        suscipit
        quas
        nobis reprehenderit et eius quibusdam! Iure quam quisquam vitae praesentium inventore! Facilis consequuntur corrupti id obcaecati optio, aperiam blanditiis adipisci nemo! Neque laborum
        asperiores ipsam. lorem0Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam quae deserunt cupiditate praesentium voluptates, quia, amet aut qui maxime quo excepturi natus!
        Repellendus pariatur nihil asperiores perspiciatis modi quod neque voluptas, quos rem porro. Beatae quidem, labore odio ut, amet, provident qui est ea quisquam nihil iusto quia culpa.
        &lt;/p&gt;</p>
    </div>
  </div>
  <div class="row main_container">
    <div class="col-2 col-md-3 aside " id="left_side">
      <div class="row justify-content-end">
        <h3>Scrum master</h3>
      </div>
    </div>
    <div class="col-10 col-md-9 aside " id="right_side">
      <p> &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consectetur fugiat, dicta quis expedita repellendus enim ex saepe sunt ea eos illum adipisci
        suscipit
        quas
        nobis reprehenderit et eius quibusdam! Iure quam quisquam vitae praesentium inventore! Facilis consequuntur corrupti id obcaecati optio, aperiam blanditiis adipisci nemo! Neque laborum
        asperiores ipsam?&lt;/p&gt;</p>
    </div>
  </div>
  <div class="row main_container">
    <div class="col-3 col-md-3 aside " id="left_side">
      <div class="row justify-content-end">
        <h3>Commercial</h3>
      </div>
    </div>
    <div class="col-9 col-md-9 aside " id="right_side">
      <p> &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consectetur fugiat, dicta quis expedita repellendus enim ex saepe sunt ea eos illum adipisci
        suscipit
        quas
        nobis reprehenderit et eius quibusdam! Iure quam quisquam vitae praesentium inventore! Facilis consequuntur corrupti id obcaecati optio, aperiam blanditiis adipisci nemo! Neque laborum
        asperiores ipsam. lorem30Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam quae deserunt cupiditate praesentium voluptates, quia, amet aut qui maxime quo excepturi natus!
        Repellendus pariatur nihil asperiores perspiciatis modi quod neque voluptas, quos rem porro. Beatae quidem, labore odio ut, amet, provident qui est ea quisquam nihil iusto quia culpa.
        &lt;/p&gt;</p>
    </div>
  </div>
</div>
