<!-- <form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptates
    expedita delectus reiciendis odit voluptatem non repudiandae mollitia, doloremque velit error minima ex, voluptate, laborum a cum nihil. Quisquam facilis repellendus sint pariatur suscipit,
    impedit tempora officiis, nobis sequi quo dolores rem, saepe quasi dignissimos repudiandae maxime? Maiores, enim mollitia? </button>
</form> -->
<!-- <form class="form-inline md-form mr-auto mb-4"> 
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
    <button mdbBtn size="sm" color="warning" outline="true"
    rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button> 
</form>
<form class="form-inline md-form mr-auto mb-4"> 
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
    <button mdbBtn size="sm" color="elegant" rounded="true"
    class="my-0 waves-light" mdbWavesEffect type="submit">Search</button> 
</form> -->
<!-- <div class="container">
  <img src="./../../assets/img/back10.jpg" alt="" srcset="./../../assets/img/back10.jpg 1x">
</div> -->
<!-- <div class="md-form">
  <input type="search" [(ngModel)]="searchText" placeholder="Search text">
</div>
<ul *ngFor="let data of dataset | filter: searchText">
  <li>{{data}}</li>
</ul> -->
<form class="card card-sm" id="searchbar">
  <div class="row">
    <div class="col-12 card-body row no-gutters align-items-center">
      <div class="col-auto">
        <i class="fas fa-search h4 text-body"></i>
      </div>
      <!--end of col-->
      <div class="col">
        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
      </div>
      <!--end of col-->
      <div class="col-auto">
        <button class="btn btn-lg" type="submit" routerLink="/">Search</button>
      </div>
      <button class="btn btn-secondary">
        <a href="">
          <img src="../../assets/img/cross.png" alt="" srcset="../../assets/img/cross.png 1x" routerLink="/" class="cross">
        </a>
      </button>

      <!--end of col-->
    </div>
  </div>
  <div class="row d-flex justify-content-end">

    <a href="">
      Recherche avancée
    </a>

  </div>
</form>
