<div class="container">
  <div class="row">
    <div class="card col-2">
      <div class="face face1">
        <div class="content">
          <img src="../../assets/img/design.png">
          <h3>Nos réalisations</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
          <a href="#work">Read More</a>
        </div>
      </div>
    </div>
    <div class="card col-2">
      <div class="face face1">
        <div class="content">
          <a href="#page6" target="_blank">
            <img src="../../assets/img/board.png">
          </a>
          <h3>Projet</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
          <a href="#page5" target="_blank">Read More</a>
        </div>
      </div>
    </div>
    <div class="card col-2">
      <div class="face face1">
        <div class="content">
          <img src="../../assets/img/launch_128.png">
          <h3>Services</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
          <a href="#page4">Read More</a>
        </div>
      </div>
    </div>
    <div class="card col-2">
      <div class="face face1">
        <div class="content">
          <img src="../../assets/img/blog.png">
          <h3>Blog</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
          <a href="#blog">Read More</a>
        </div>
      </div>
    </div>
    <div class="card col-2">
      <div class="face face1">
        <div class="content">
          <img src="../../assets/img/what.png">
          <h3>Nous connaitre</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
          <a href="#page8">Read More</a>
        </div>
      </div>
    </div>
    <div class="card col-2">
      <div class="face face1">
        <div class="content">
          <a href="#work" target="_blank">
            <img src="../../assets/img/cowork.png">
          </a>
          <h3>Co-working</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
          <a href="#work" target="_blank">Read More</a>
        </div>
      </div>
    </div>
  </div>

</div>
