#blog {
  height: 300vh;
  overflow-y: scroll;
  background-image: url('./../../assets/img/back_webmag55.png');
  padding-top: 5%;

}

h2 {
  margin-top: 10%
}

table {
  margin-top: 5%;
}

.title {
  border-bottom: 1px solid black;
}

.content {
  margin-top: 5%;
  background-color: #00000033;
  border-radius: 1%;
  padding: 5%;
  width: 90%;
  height: 200px;
  overflow-y: scroll;
}
