<div class="container" id="blog">
  <div class="row">
    <div class="col-xl-12">
      <h2>&lt; h3 &gt; Blog &lt; /h3 &gt;</h2>
    </div>

  </div>
  <div class="row d-flex justify-content-center">
    <table class="table table-hover col-12">
      <!-- <thead>
        <tr>
          <td>
            <h3>Titre</h3>
          </td>
          <td>
            <h3>Content</h3>
          </td>

          <td *ngIf="isLoggedIn" colspan="2">Actions</td>
        </tr>
      </thead> -->
      <tbody>
        <div *ngFor="let post of posts; let i = index">

          <div class="col-12 title d-flex justify-content-start">
            <h3>{{ post.title }}</h3>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-10 content">
              {{ post.content }}
            </div>
          </div>



          <div *ngIf="isLoggedIn">
            <td><a [routerLink]="['/post', post._id]" class="btn btn-primary">Edit</a></td>

            <td><a class="btn btn-danger" (click)="deletePost(post._id,i)">Delete</a></td>
          </div>
        </div>
      </tbody>
    </table>
  </div>

</div>
