<!-- <div class="container-fluid " id="page_connexion">
  <div class="card col-12" id="connexion">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Mail</td>
          <td colspan="2">Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contact; let i = index">
          <td>{{ contact.Name }}</td>
          <td>{{ contact.Mail }}</td>
          <td>{{ contact.Contact }}</td>

          <td><a [routerLink]="['/edit', contact._id]" class="btn btn-secondary">Edit</a></td>

          <td><a (click)="deleteContact(contact._id, i)" class="btn btn-danger">Delete</a></td>

        </tr>
      </tbody>
    </table>
  </div>
</div> -->
