<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/carousel (6).jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Co-Working</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/carousel (5).jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Services</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/carousel (4).jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Notre expertise</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/equipe.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Création projet</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>

</ngb-carousel>
<div class="container-fluid d-none d-lg-block" id="main_button">
  <div class="row d-flex justify-content-around">
    <div class="col-2">
      <a href="#page4" target="_blank">
        <button type="button" class="btn btn-secondary btn-lg">
          <h4>Recrutement</h4>
        </button>
      </a>
    </div>
    <div class="col-2 offset-xl-6">
      <a href="#" routerLink="contact/create">
        <button type="button" class="btn btn-secondary btn-lg">
          <h4>Prendre RDV</h4>
        </button>
      </a>
    </div>
  </div>
</div>
