<div class="container-fluid" id="page7">
  <div class="row">

    <div class="col-2 prestation">
      <img src="../../assets/img/presta.png" alt="" srcset="">
    </div>
    <div class="col-10 d-flex justify-content-end align-self-center" id="titre">
      <h2>&lt; h2 &gt; Prestations &lt; /h2 &gt;</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-between" id="presta">
    <div class="col-12 col-lg-2 presta2">
      <div class="row d-flex align-items-center">
        <h3 class="col-8 col-lg-12 smart">Web presence</h3>
        <img src="../../assets/img/presta3.png" alt="" class="col-3 col-lg-12 smart">
      </div>
      <h4>1200~€</h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, sed?
        </li>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <div class="d-none d-md-block">
            Nemo voluptate sint perspiciatis tempore inventore dolore earum nihil? Quibusdam magnam sequi nobis molestiae libero natus quisquam
            commodi sed beatae, harum facilis ipsa perspiciatis ab voluptatibus ullam possimus recusandae cum, aperiam tempore earum laboriosam quos illum? Aliquid incidunt et assumenda quos atque.
          </div>
        </li>
      </ul>
      <button class="btn btn-secondary d-flex justify-content-center">Read more</button>
    </div>

    <div class="col-12 col-lg-2 presta2">
      <div class="row d-flex align-items-center">
        <h3 class="col-8 col-lg-12 smart">Web entreprise</h3>
        <img src="../../assets/img/presta3.png" alt="" class="col-3 col-lg-12 smart">
      </div>
      <h4>1690 €</h4>
      <ul>

        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, sed?
        </li>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <div class="d-none d-md-block">
            Nemo voluptate sint perspiciatis tempore inventore dolore earum nihil? Quibusdam magnam sequi nobis molestiae libero natus quisquam
            commodi sed beatae, harum facilis ipsa perspiciatis ab voluptatibus ullam possimus recusandae cum, aperiam tempore earum laboriosam quos illum? Aliquid incidunt et assumenda quos atque.
          </div>
        </li>
      </ul>
      <button class="btn btn-secondary d-flex justify-content-center">Read more</button>
    </div>
    <div class="col-12 col-lg-2 presta2">
      <div class="row d-flex align-items-center">
        <h3 class="col-8 col-lg-12 smart">Web social</h3>
        <img src="../../assets/img/presta3.png" alt="" class="col-3 col-lg-12 smart">
      </div>
      <h4>1990 €</h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, sed?
        </li>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <div class="d-none d-md-block">
            Nemo voluptate sint perspiciatis tempore inventore dolore earum nihil? Quibusdam magnam sequi nobis molestiae libero natus quisquam
            commodi sed beatae, harum facilis ipsa perspiciatis ab voluptatibus ullam possimus recusandae cum, aperiam tempore earum laboriosam quos illum? Aliquid incidunt et assumenda quos atque.
          </div>
        </li>
      </ul>
      <button class="btn btn-secondary d-flex justify-content-center">Read more</button>
    </div>
    <div class="col-12 col-lg-2 presta2">
      <div class="row d-flex align-items-center">
        <h3 class="col-8 col-lg-12 smart">Web E-commerce</h3>
        <img src="../../assets/img/presta3.png" alt="" class="col-3 col-lg-12 smart">
      </div>
      <h4>2690 €</h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, sed?
        </li>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <div class="d-none d-md-block">
            Nemo voluptate sint perspiciatis tempore inventore dolore earum nihil? Quibusdam magnam sequi nobis molestiae libero natus quisquam
            commodi sed beatae, harum facilis ipsa perspiciatis ab voluptatibus ullam possimus recusandae cum, aperiam tempore earum laboriosam quos illum? Aliquid incidunt et assumenda quos atque.
          </div>
        </li>
      </ul>
      <button class="btn btn-secondary d-flex justify-content-center">Read more</button>
    </div>
    <div class="col-12 col-lg-2 presta2">
      <div class="row d-flex align-items-center">
        <h3 class="col-8 col-lg-12 smart">Refonte</h3>
        <img src="../../assets/img/presta3.png" alt="" class="col-3 col-lg-12 smart">
      </div>
      <h4>3100 €</h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, sed?
        </li>
        <li>
          Lorem ipsum dolor sit amet.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <div class="d-none d-md-block">
            Nemo voluptate sint perspiciatis tempore inventore dolore earum nihil? Quibusdam magnam sequi nobis molestiae libero natus quisquam
            commodi sed beatae, harum facilis ipsa perspiciatis ab voluptatibus ullam possimus recusandae cum, aperiam tempore earum laboriosam quos illum? Aliquid incidunt et assumenda quos atque.
          </div>
        </li>
      </ul>
      <button class="btn btn-secondary d-flex justify-content-center">Read more</button>
    </div>

  </div>
</div>
