<div class="container-fluid" id="page6">
  <div class="row">
    <div class="col-9 col-lg-10 align-self-end" id="titre">
      <h2>&lt; h2 &gt; Projet &lt; /h2 &gt;</h2>
    </div>
    <div class="col-2 light">
      <img src="../../assets/img/idee2.png" alt="" srcset="">
    </div>
  </div>
  <div class="row" id="intro">
    <div class="col-12 projet">
      <div class="row justify-content-center" id="projet_intro">
        <div class="col-10">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, iste molestiae! Voluptatem, maxime
            eveniet.
            Ipsa ipsum saepe ullam totam. Repellat illo esse quam veniam corporis nostrum mollitia sint est ut eos,
            ipsam a
            consequuntur atque fuga voluptatem consectetur sapiente et sit sunt unde omnis, expedita voluptatibus! Optio
            corporis cum sapiente voluptate praesentium quae fuga quia nam. Maiores doloremque non illo. <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quaerat, accusamus enim possimus ipsum sit
            architecto doloremque. Dignissimos quia, quaerat, necessitatibus ab voluptatum dicta magnam alias sequi id
            reprehenderit sit iusto facere quos exercitationem est molestias modi ea commodi. Totam quia sequi vero quis
            doloribus? Modi quia ipsum facilis ipsa. Labore nostrum velit sint cupiditate cum, repellendus dolore neque
            at
            recusandae eligendi tempora laboriosam maiores in aut itaque magnam minus dignissimos quos maxime. <br>
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around" id="projet_button">
      <div class="col-4 offset-2">
        <a href="#page5" target="_blank">
          <button type="button" class="btn btn-secondary btn-lg btn-projet">Proposez votre projet</button>
        </a>
      </div>
      <div class="col-4 offset-1">
        <a href="#workInProgress" target="_blank">
          <button type="button" class="btn btn-secondary btn-lg btn-projet">Consulter les projets</button>
        </a>
      </div>
    </div>
    <div class="row" id="projet_content">
      <div class="col-12 projet">
        <div class="row">
          <div class="col-6">
            <h3>Notre expertise</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, dolores exercitationem magni
              minima, sed modi saepe officiis, odio facilis debitis quisquam vero perspiciatis impedit itaque
              iusto consequatur repellendus amet dolore similique fugiat explicabo. Quaerat, fugit explicabo
              aliquam perspiciatis labore eum?</p>
          </div>
          <div class="col-6">
            <h3>Nos projets</h3>
            <p> Quis magnam commodi voluptates corrupti.
              Repellendus, voluptates. Enim est adipisci, sed accusantium qui veniam eaque iste vero, pariatur
              dolores amet ad delectus. <br> doloremque quos vitae obcaecati omnis commodi voluptatem deleniti
              voluptas rem repellat aliquam similique consequatur? Laboriosam velit ex, ipsa pariatur alias
              iusto nihil aliquid autem, dicta distinctio, dolorum culpa dignissimos ab?</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
