<div class="container-fluid " id="page_inscription">


  <div class="card col-12" id="inscription">
    <div class="row">
      <div class="col-10 col-md-9 d-flex align-items-center">
        <h3>&lt; h3 &gt; Rejoignez-nous &lt; /h3 &gt;

        </h3>
      </div>
      <div class="d-none d-md-block col-md-1 porte2">
        <div>
          <img src="../../assets/img/porte2.png" alt="" srcset="../../assets/img/porte.png 1x">
        </div>
      </div>
      <div class="col-2 col-md-2">
        <button class="btn btn-secondary" [routerLink]="['/']">
          <img src="../../assets/img/cross.png" alt="" srcset="../../assets/img/cross.png 1x">
        </button>
      </div>

    </div>
    <!-- <div class="card-body">
      <form [formGroup]="angForm">
        <div class="form-group">
          <label class="col-12 col-md-4">Votre nom</label>
          <input type="text" class="form-control" formControlName="MemberName" #MemberName />

        </div>
        <div *ngIf="angForm.controls['MemberName'].invalid && (angForm.controls['MemberName'].dirty || angForm.controls['MemberName'].touched)" class="alert alert-danger">

          <div *ngIf="angForm.controls['MemberName'].errors.required">

            Member Name is required.
          </div>
        </div>
        <div class="row d-flex justify-content-around">
          <div class="form-group col-12 col-md-5">
            <label class="col-12">Votre pseudo</label>
            <input type="text" class="form-control" formControlName="Pseudo" #Pseudo />

          </div>
          <div *ngIf="angForm.controls['Pseudo'].invalid && (angForm.controls['Pseudo'].dirty || angForm.controls['Pseudo'].touched)" class="alert alert-danger">

            <div *ngIf="angForm.controls['Pseudo'].errors.required">

              Pseudo is required.
            </div>
          </div>
          <div class="form-group col-12 col-md-5">
            <label class="col-12">Password</label>
            <input type="password" class="form-control" formControlName="Password" #Password />

          </div>
          <div *ngIf="angForm.controls['Password'].invalid && (angForm.controls['Password'].dirty || angForm.controls['Password'].touched)" class="alert alert-danger">

            <div *ngIf="angForm.controls['Password'].errors.required">

              Password is required.
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="form-group col-12 col-md-4">
            <label class="col-md-12">Age</label>
            <input type="text" class="form-control" formControlName="MemberAge" #MemberAge />

          </div>
          <div *ngIf="angForm.controls['MemberAge'].invalid && (angForm.controls['MemberAge'].dirty || angForm.controls['MemberAge'].touched)" class="alert alert-danger">

            <div *ngIf="angForm.controls['MemberAge'].errors.required">
              Member Age is required.
            </div>
          </div>
          <div class="form-group col-12 col-md-8">
            <label class="col-md-12">Member Mail</label>
            <input type="email" class="form-control" formControlName="MemberMail" #MemberMail />

          </div>
          <div *ngIf="angForm.controls['MemberMail'].invalid && (angForm.controls['MemberMail'].dirty || angForm.controls['MemberMail'].touched)" class="alert alert-danger">

            <div *ngIf="angForm.controls['MemberMail'].errors.required">
              Member Mail is required.
            </div>
          </div>
        </div>

        <div class="form-group">

          <button type="button" class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid" (click)="addMember(angForm.controls['MemberName'].value, angForm.controls['Pseudo'].value, angForm.controls['Password'].value, angForm.controls['MemberAge'].value,
            angForm.controls['MemberMail'].value)">Create
            Member</button>
        </div>

      </form>
    </div> -->


    <!-- start auth -->

    <div class="card card-container">

      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group col-12 col-md-6 offset-md-3">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6 offset-md-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6 offset-md-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary">Sign Up</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>

    <!--  end auth -->
  </div>
</div>
