<div class="container-fluid" id="page8">
  <div class="row">
    <div class="d-flex align-items-end">
      <h2 class="col-12">&lt; h3 &gt; Nos coordonnées &lt; /h3 &gt;</h2>
    </div>
    <div class="boussole col-1">
      <img src="../../assets/img/boussole.png" alt="" class="" srcset=" ../../assets/img/boussole.png 1x">
    </div>
  </div>
  <div class="row carte">

    <div class="col-md-6 d-flex justify-content-around align-items-center">

      <h3>Le clauzuroux <br>24320 <br>Champagne et Fontaine</h3>
      <div class="row">
        <a href="https://goo.gl/maps/5HGc7Kf2cgSqE54LA">
          <button type="button" class="btn btn-secondary" id="google">lien google map</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 google ">
      <img src="../../assets/img/googleMap.JPG" class="img-fluid" alt="map" srcset="../../assets/img/googleMap.JPG 1x">
    </div>
  </div>

</div>
